h1 {
  margin-top: 20px;
  color: #757677;
}
.input-group-addon {
    padding: 0.5rem 3.75rem;
    text-align: center !important;
    }
.enter-name {
  margin-bottom: 1rem;
}
.chat-window {
  height: 500px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 1rem;
  overflow-y: scroll;
}

.input-group-addon{
  background-color: #ffce00;
  color: #504d4d;
}

#messages {
  padding: none;
}

.msg {
  margin-bottom: 1rem;
}

.member-name, .new-member {
  font-weight: bolder;
}
.text-center {
    text-align: left!important;
    float: left;
    display: block;
}
